Source: golang-mdns
Section: devel
Priority: extra
Maintainer: Kouhei Maeda <mkouhei@palmtb.net>
Build-Depends: debhelper (>= 9.0.0), dh-golang, golang-go, golang-dns-dev, golang-go.net-dev
Standards-Version: 3.9.5
Homepage: https://github.com/armon/mdns

Package: golang-mdns-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, golang-go
Description: Simple mDNS client/server library in Golang
 Simple mDNS client/server library in Golang. mDNS or Multicast DNS can be used
 to discover services on the local network without the use of an authoritative
 DNS server. This enables peer-to-peer discovery. It is important to note that
 many networks restrict the use of multicasting, which prevents mDNS from
 functioning. Notably, multicast cannot be used in any sort of cloud, or shared
 infrastructure environment. However it works well in most office, home, or
 private infrastructure environments.

